* {
  margin: 0px;
  padding: 0px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: medium;
}
.p1 {
  font-family: "Lucida Console", "Courier New", monospace;
}
nav {
  background-color: rgb(108, 185, 160);
  color: rgb(0, 0, 0);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 60%;
      grid-template-columns: 30% 60%;
  -webkit-column-gap: 10%;
          column-gap: 10%;
  padding: 0% 5%;
}

nav .array-inputs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
  place-content: center;
  padding: 5% 0%;
}

nav .array-inputs #a_size {
  padding: 5% 0%;
}

nav .array-inputs #a_speed {
  padding: 5% 0%;
}

nav .array-inputs #a_generate {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  padding: 4% 0% 0% 0%;
  padding-left: 20%;
}

nav .array-inputs #a_generate:hover {
  cursor: pointer;
}

nav .header_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav .header_right .nav-heading {
  display: inline-block;
  font-size: xxx-large;
  padding: 3% 0%;
  color :rgb(0, 0, 0);
}



nav .header_right .algos button {
  background-color: transparent;
  border: none;
  color: rgb(251, 255, 255);
  outline: none;
  padding: 5% 3%;
  font-size: large;
}

nav .header_right .algos button:hover {
  background-color : rosybrown;
  color: aliceblue;
  font-size: x-large;
  cursor: pointer;
}

nav .header_right .algos .butt_locked {
  background-color: transparent;
  cursor: pointer;
  font-size: medium;
}

nav .header_right .algos .butt_locked:hover {
  background-color: transparent;
  cursor: pointer;
  font-size: medium;
}

nav .header_right .algos .butt_selected {
  background-color: white;
  color: green;
  font-size: medium;
}

nav .header_right .algos .butt_selected:hover {
  background-color: white;
  cursor: pointer;
  font-size: medium;
}

nav .header_right .algos .butt_unselected:hover {
  background-color: rgb(42, 194, 240);
  cursor: pointer;
  font-size: medium;
}

section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 60% 20%;
      grid-template-columns: 20% 60% 20%;
}

section #Info_Cont1 {
  padding: 20%;
}

section #array_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70vh;
  background-color: rgb(255, 255, 255);
}

section #Info_Cont2 {
  padding: 20%;
}

.hide {
  display: none;
}